<!-- if condition
<button (click)="show=!show">{{show ? 'hide':'show'}}</button>
<h1 *ngIf="show ; else elseBlock">Text show</h1>
<p #elseBlock>Yes hello</p>
<h2 *ngIf="show">Welcome</h2>
 for condition -->
<!-- <h1 style="text-align: center;">{{title}}</h1>
<table class='table'>  
  <thead>  
      <tr>  
          <th>Title</th>  
          <th>Director</th>  
          <th>Cast</th>  
          <th>Release Date</th>  
      </tr>  
  </thead>  
  <tbody>  
    <tr *ngFor="let value of movie">
      <td>{{value.title}}</td>  
      <td>{{value.director}}</td>  
      <td>{{value.cast}}</td>  
      <td>{{value.releaseDate}}</td>  
    </tr>
  </tbody>  
</table>   -->
<!-- switch -->
<!-- <select [(ngModel)]="selectedValue">
  <option *ngFor="let values of items;" [value]="values.name">{{values.name}}</option>
</select>

<div class='row' [ngSwitch]="selectedValue">  
  <div *ngSwitchCase="'One'">One is Pressed</div>  
  <div *ngSwitchCase="'Two'">Two is Selected</div>  
  <div *ngSwitchDefault>Default Option</div>  
</div>   -->

<!-- <h2>{{ title }}</h2>    
<img [src]="imgUrl" />  
<button (click)="onSave($event)">Save</button>
<button (click)="onDetail('Ratanak')">Detail</button>

<input type="text" [(ngModel)]="fullname">
<h3>{{fullname}}</h3>
<button (click)="sum()" class="btn">+</button>
  <button>{{buy}}</button>
<button (click)="div()" class="btn">-</button>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div> -->


  <nav class="nav">
    <a class="nav-link active" routerLink="/" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/book-app" routerLinkActive="active">Book</a>
    <a class="nav-link" routerLink="/car-app" routerLinkActive="active">Car</a>
    <a class="nav-link " routerLink="/students" routerLinkActive="active">Student</a>
  </nav>
<!-- <app-book-app></app-book-app>
<app-car-app></app-car-app> -->
<router-outlet></router-outlet>