<p>All Student</p>
<ul>
    <li *ngFor='let value of students' class="list-group-item">
        <a routerLink="/students/{{value.id}}">
            <h6 (click)="onClick(value)"><span class="badge badge-secondary">{{value.id}}</span> {{value.name}}</h6>
        </a>
        <span (click)="delete(value.id)" class="badge badge-secondary" style="cursor: pointer;">X</span>
    </li>
</ul>
<label for="">ID : </label>
<input type="text" [(ngModel)]="adds.id">
<label for="">Name : </label>
<input type="text" [(ngModel)]="adds.name">
<button (click)="add(adds)">ADD STUDENT</button>